<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= friend.firt_name %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
  <% end %>
</div>
<% if user_signed_in? && current_user %>
    <%= link_to "New friend", new_friend_path %>
<% end %>
