<%= render @friend %>

<div>
  <%= link_to t('show.edit_friend'), edit_friend_path(@friend) %> |
  <%= link_to t('show.back_friends'), friends_path %>

  <%= button_to t('show.destroy_friend'), @friend, method: :delete,
                form: { data: { turbo_confirm: t('show.confirmation') } }%>
</div>
